@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@300;400;600&family=Lilita+One&display=swap');

html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lexend', sans-serif;
    /*font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;*/
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #f1d4ea;
    padding-top: 60px;
    padding-bottom: 60px;
}

.game-area {
    position: relative;
    display: flex;
    width: 40%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    background: #fff;
    padding: 10px 20px;
}

h2 {
    text-align: center;
    font-size: 45px;
    color: #d692eb;
    text-transform: uppercase;
    margin-bottom: 5px;
    margin-top: 20px;
}

#instructions {
    text-align: center;
    margin-top: -45px;
    margin-bottom: -10px;
}

h4 {
    margin-bottom: -15px;
}

.restartButton {
    padding: 15px 20px;
    color: #d692eb;
    background: #fff;
    border: border: 4px solid;
    font-size: 1.5em;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 600;
    margin-bottom: 15px;
}

.game-board {
    width: 440px;
    height: 440px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    transform-style: preserve-3d;
    perspective: 500px;
}

.card_box {
    position: relative;
    width: calc(25% - 10px);
    /* Adjusted width for better spacing */
    height: calc(25% - 10px);
    /* Adjusted height for better spacing */
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
}

.card_box img {
    max-width: 100%;
    /* Ensure the image doesn't exceed the width of the card */
    max-height: 100%;
    /* Ensure the image doesn't exceed the height of the card */
    object-fit: contain;
    /* Maintain aspect ratio and fit the entire image within the card */
}

.card_box.revealCard {
    transform: rotateY(0deg);
}

.card_box::after {
    content: '';
    position: absolute;
    inset: 0;
    background: #798dc5;
    transition: 0.25s;
    transform: rotateY(0deg);
    backface-visibility: hidden;
}

.revealCard:after,
.Match:after {
    transform: rotateY(180deg);
}

.tallies {
    display: flex;
    justify-content: center;
    width: 100%;
}

.score,
.moves {
    padding-left: 5%;
    padding-right: 5%;
    font-size: 1.75em;
    margin-bottom: 10px;
    text-align: center;
    color: black;
}